# Compiled object files
*.o

# Compiled dynamic libraries
*.dylib

# Compiled static libraries
*.a

# Executable files
*.out
*.exe

# Debug files
*.dSYM/
*.log

# macOS specific files
.DS_Store

# Temporary files
*.tmp
*.swp

start.sh

read_server
write_server